body {

    margin: 0;
    padding: 10vh 5vw;
    background: #235070 url("./image/background.png") no-repeat;
    background-size: cover;
    font-size: 14px;

}

h1, h2, span, p, img {
    color: #fff;
    text-stroke: .3em rgba(255, 255, 255, .2);
    -webkit-text-stroke: .3em rgba(255, 255, 255, .2);
}

h1 {
    font-size: 4rem;
}

header > div {
    h1 {
        display: inline-block;
        padding: 2.5rem 0 0;
        line-height: 4rem;
        margin: 0;
        span {

            font-size: 2rem;
        }

        &, span {
            vertical-align: -moz-middle-with-baseline;
            vertical-align: -webkit-baseline-middle;
        }
    }
    p { font-size: 1.4rem; }
}
